/* I'm too lazy to add comments, figure it out if you really wanna mod this theme */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  font-family: 'Nunito', sans-serif;
}

.theme-dark {
   /* Colors can be changed here */
  
  --background-primary: #23272a;
  --background-secondary: #1a1e21;
  --background-secondary-alt: #15181b;
  --background-tertiary: #111416;
  --channeltextarea-background: #1a1e21;
  --background-floating: #111416;

  --scrollbar-auto-thumb: #0000004a;
  --scrollbar-auto-track: #00000036;

  --background-modifier-accent: hsla(0, 0%, 100%, 0.03);
}

.peopleColumn-1wMU14 {
  background-color: var(--background-primary);
}

.wordmark-2u86JB svg {
  width: 0px;
}

.wordmark-2u86JB::before,
.wordmark-2u86JB::after {
  font-family: 'Fira Code', monospace !important;
  font-size: 15px;
  font-weight: 600;
}

.wordmark-2u86JB::before {
  content: 'Dark';
  position: absolute;
  top: 50%;
  width: max-content;
  transform: translateY(-50%);
}

.wordmark-2u86JB::after {
  content: '+';
  position: absolute;
  top: 50%;
  width: max-content;
  transform: translateY(-50%) translateX(430%);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% {
    transform: translateY(-50%) translateX(430%) rotate(0deg);
  }

  50% {
    transform: translateY(-50%) translateX(430%) rotate(360deg);
  }

  100% {
    transform: translateY(-50%) translateX(430%) rotate(720deg);
  }
}

.scroller-2MALzE,
.scroller-18M1mG,
.categoryHeader-OpJ1Ly {
  background-color: var(--background-secondary);
}

.selected-3H3-RC {
  background-color: var(--background-modifier-accent) !important;
}

.list-obNEuP {
  background-color: var(--background-tertiary) !important;
}

.scroller-3j5xK2,
.animatedNode-zo4rIT {
  background-color: var(--background-primary);
}

.anchorUnderlineOnHover-2qPutX {
  transition: color 0.5s ease-out;
}

.anchorUnderlineOnHover-2qPutX:hover {
  text-decoration: none !important;
  color: var(--brand-experiment);
}

/* Btw the file name is a youtube video id */
